<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Digite o titulo do produto">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="Digite o preço do produto">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao"></textarea>
            </div>
            <input type="submit" value="Gravar">
        </form>
    </body>
</html>