<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>nome</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Livro de Node JS</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>